@model LoginViewModel

<div class="row">
    <div class="col-4 offset-4">
        <h1>Login</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div class="form-group mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="johndoe" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="*********" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>