@model bool

@if (Model == true)
{
    <h2>City List</h2>
    <hr />
}

<ul class="list-group">
    @for (var i = 0; i < NumberData.GetNumber(4, 8); i++)
    {
        <li class="list-group-item">
            @PlaceData.GetCity()
        </li>
    }
</ul>