<div class="row">
    <div class="col">
        <h1>Profile</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-4">

        <form method="post" enctype="multipart/form-data">

            @if (ViewBag.FileName != null)
            {
                <div class="form-group mb-3">
                    <img class="img-fluid img-thumbnail" src="~/imgs/@ViewBag.FileName" />
                </div>
            }

            <div class="form-group mb-3">
                <label for="picture" class="form-label">Profil Resminiz</label>
                <input id="picture" name="picture" type="file" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>

    </div>
</div>