
<div class="row">
    <div class="col">
        <h1>Partial Views</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col">

        @Html.Partial("_AlertPartial")
        @*<partial name="_AlertPartial" />*@

    </div>
</div>