@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Gizlilik","Privacy")<br />
@Html.TextBox("ad")<br />
@Html.TextArea("info")<br />
<button type="button">Click me!</button>


@Html.Partial("_AlertPartial")