<!-- Farklı sayfaya POST ile veri gönderimi -->
@*<form asp-action="Save" asp-controller="Home" method="post">*@

<!-- Aynı sayfaya POST ile veri gönderimi -->
<form method="post">
    <input id="ad" name="ad" class="form-control mb-2" placeholder="john" />
    <input id="soyad" name="soyad" class="form-control mb-2" placeholder="doe" />
    <button class="btn btn-primary btn-sm" type="submit">Gönder</button>
</form>