@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    //Layout = "../Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Description</p>
</div>
