@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="row mt-3">
    <div class="col">
        @ViewBag.Result
    </div>
</div>