@model StudentViewModel

<div class="row mb-3">
    <div class="col">
        <h1>Delete Student</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-8">
        <form method="post">
            <h2>Are you sure want to delete this student?</h2>
            <input asp-for="Id" type="hidden" />
            <partial name="_StudentViewPartial" />

            <div class="text-end">
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-left me-2"></i>Back to list</a>
                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash me-2"></i>Delete</button>
            </div>
        </form>
    </div>
    <div class="col-8">
    </div>
</div>