@model StudentViewModel

<div class="row mb-3">
    <div class="col">
        <h1>Student Details</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="my-3">
            <dl class="row">
                <dt class="col-4"><label asp-for="NameSurname"></label></dt>
                <dd class="col-8">@Model.NameSurname</dd>
                <dt class="col-4"><label asp-for="Username"></label></dt>
                <dd class="col-8">@Model.Username</dd>
            </dl>
        </div>

        <div class="text-end">
            <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-left me-2"></i>Back to list</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm"><i class="fa fa-edit me-2"></i>Edit</a>
        </div>
    </div>
    <div class="col-8">
    </div>
</div>