@model StudentEditViewModel

<div class="row mb-3">
    <div class="col">
        <h1>Edit New Student</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post">
            <div class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            </div>

            <div class="mb-3">
                <label asp-for="NameSurname" class="form-label"></label>
                <input asp-for="NameSurname" class="form-control" placeholder="John Doe" />
                <span asp-validation-for="NameSurname" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="johndoe" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="text-end">
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-left me-2"></i>Back to list</a>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save me-2"></i>Save</button>
            </div>
        </form>
    </div>
    <div class="col-8">
    </div>
</div>