@model WebApplication1.Controllers.AccountIndexViewModel

@{
    List<string> cities = (List<string>)ViewData["cityList"];
    List<string> countries = (List<string>)ViewBag.CountryList;
}

<div class="row mb-3">
    <div class="col">
        <h2>Index 1</h2>
        <hr />
        <a asp-action="Index2">Go to Index2</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>User Names</h2>
        <hr />
        <ul>
            @foreach (var item in Model.UserNames)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="col">
        <h2>Bank Names</h2>
        <hr />
        <ul>
            @foreach (var item in Model.BankNames)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="col">
        <h2>Cities</h2>
        <hr />
        <ul>
            @foreach (var item in cities)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="col">
        <h2>Countries</h2>
        <hr />
        <ul>
            @foreach (var item in countries)
            {
                <li>@item</li>
            }
        </ul>
    </div>

</div>