@model List<string>

<div class="row">
    <div class="col">
        <ul class="list-group">
            @foreach (string item in Model)
            {
                <li class="list-group-item">@item</li>
            }
        </ul>
    </div>
</div>